@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Playfair+Display&family=Roboto+Slab:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

.bgimg img{
    width: 100%;
    height: 1200px;
    position: absolute;
}

#lefttop{
    height: 175px;
    width: 120px;
    background-color: rgba(90, 87, 87, 0.193);
}
.blueline{
    height: 10px;
    width: 55px;
    background-color: rgb(26, 106, 177);
    position: relative;
    top: 25px;
    left: 45px;
}

#lefttop p{
    font-size: 70px;
    font-weight: 750;
    color: white;
    position: relative;
    left: 45px;
}

#lefttop h4,h6{
    position: relative;
    left: 43px;
    top: -35px;
    color: white;
}

/* #lefttop h6{
    position: relative;
    left: 43px;
    top: -35px;
    color: white;
} */

.listitem{
    background-color: rgba(128, 120, 120, 0.484);
    width: 510px;
    margin-left: -17px;
    height: 550px;
}
ul{
    margin-top: 45px;
    color: white;
    list-style-type: square;
    text-align: right;
    padding-right: 145px;
    padding-top: 45px;
    direction: rtl;
    /* height: 423px; */
    /* width: 502px; */
    font-family: 'Fira Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-size: 35px ;
}
#learntext{
    height: 75px;
    background-color: rgba(241, 241, 92, 0.73);
    width: 100px;
    height: 250px;
    
}
.rightsidetext{
    height: 75px;
    background-color: rgba(45, 45, 41, 0.73);


    width: 510px;
    margin-left: -17px;
    height: 250px;

}
.toptext h1{
    font-weight: 25px;
    color: white;

}
.text1{
    color: white;
    text-align: right;
    direction: ltr;
    text-align: right;
    padding-right: 35px;
    padding-top: 25px;
}